* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.hero {
  background-image: url('./img/photographer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.landing-page {
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.landing-page h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  color: white;
  letter-spacing: 3px;
  
}

.landing-page h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: white;
  letter-spacing: 0;
  max-width: 100%;
  
  
}

.landing-page-wrap {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}


.h3-container {
  display: flex;
  max-width: 50%;
  height: 100px;
}


.hire-me {
  cursor: pointer;
  text-align: center;
  width: 10%;
  padding: 10px 10px;
  border: 4px solid #D66939;
  text-transform: uppercase;
  color: #D66939;
  background: none;
}

/* Logo  */
.logo-pic {
  background-image: url(./img/camera-logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.logo-name {
  white-space: nowrap;
  color: white;
  position: relative;
  margin-left: 30px;
  top: -19px;
}

/* Desktop main menu */

.desktop-main-menu {
  margin-left: 70%;
}


.desktop-main-menu ul { 
  display: inline-flexbox;
  position: relative;
  margin-right: 20px;
  top: -20px;
  text-transform: uppercase;
  color: white;
}

.desktop-main-menu h10 {
  color: #D66939;
}

/* Hamburger menu */
 
.hamburger {
  position: absolute;
  top: 40px;
  right: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  top: -0.1px;
  margin-top: 21px;
  

}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 0;
  left: 0;
  background-color: white;
}

.hamburger-middle {
  transform: translateY(5px);
  width: 70%;
}

.hamburger-top {
  transform: translateY(10px);
  width: 115%;
}

/* Overlay */

.overlay {
  white-space: nowrap;
  position:absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(60, 60, 60,0);
}

.overlay-2 {
  white-space: nowrap;
  position:absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,rgba(60, 60, 60,0), rgba(0,0,0,1));
                  
}

/* Social media */

.line {
  position: fixed;
  background: none;
  border: none;

}

.line-1,
.line-2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}

.line-1 {
  transform: translateX(5px);
  width: 150px;
  height: 2px;
  margin-top:300px;
  transform: rotate(90deg);
}

.line-2 {
  transform: translateX(5px);
  height: 2px;
  width: 150px;
  transform: rotate(90deg);
  margin-top: 680px;
  
}
 /* Social media icons */
.container-media-icons {
  margin-top: 400px;
  margin-left: 65px;
  

}



.twitter {
  background-image: url(./img/icons8-twitter.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;

}

.instagram {
  background-image: url(./img/icons8-instagram.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;

}

.behance {
  background-image: url(./img/icons8-behance.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.facebook {
  background-image: url(./img/icons8-facebook.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  
}









  
